{% extends "core_app/base.html" %}
{% load static %}
{% block title %}KaArya Properties{% endblock %}

{% block content %}
	<div class="fh5co-page-title" style="background-image: url(images/slide_6.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 animate-box">
					<h1><span class="colored">Rent</span> Properties</h1>
				</div>
			</div>
		</div>
	</div>
	<div id="best-deal">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
					<h2>We are Offering the Best Rent Deals</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
				</div>


				{% for property in page_obj.object_list %}
				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-property">
						<figure>
							{% if property.property_image.first.image %}
							<img src="{{property.property_image.first.image}}" alt="" class="img-responsive" style="height:70%">
							{% else %}
							<img src="{% static 'images/image_1.jpg' %}" alt="" class="img-responsive" style="height:70%">
							{% endif %}
							<a href="#" class="tag">Rent</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{property.short_desc}}</a></h3>
							<div class="price-status">
		                 		<span class="price">Rs. {{property.price}} </span>
		               		</div>
		               		<p>Location: {{ property.location }}</br>{{ property.furniture_type }}</p>
	            		</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{ property.carper_area }}</strong> Sq Ft</span>  <span><strong>{{ property.no_of_bed }}</strong> Beds</span>  <span><strong>{{ property.no_of_bath }}</strong> Baths</span>  <span><strong>{{ property.no_of_balcony }}</strong> Balcony</span>
	            	</p>
					<p class="fh5co-property-specification">
						<span><strong><a href="tel://{{ property.property_contact }}"><button type="button" class="btn btn-success"><i class="fa fa-phone"></i></button></a></strong></span>
						<span><strong><a href="whatsapp://send?phone={{ property.property_contact }}&text=Is this property still available? {{ property.short_desc }}"><button type="button" class="btn btn-success"><i class="fa fa-whatsapp"></i></button></a></strong></span>
<!--						<span><strong><a href="https://wa.me/{{ property.property_contact }}/?text=Is this property still available? {{ property.short_desc }}"><button type="button" class="btn btn-success"><i class="fa fa-whatsapp"></i></button></a></strong></span>-->
					</p>
					</div>
				</div>
				{% endfor %}

			</div>
			<div class="row">
				<div class="col-md-12 text-center animate-box" data-animate-effect="fadeIn">
					<nav>
					  <ul class="pagination">
						{% if page_obj.has_previous %}
					    <li>
					      <a href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
						 {% endif %}
						 {% for i in no_of_pages %}
					    <li class="{% if i == page_obj.number %}active{% endif %}"><a href="?page={{i}}">{{i}}</a></li>
						 {% endfor %}
						{% if page_obj.has_next %}
					    <li>
					      <a href="?page={{page_obj.next_page_number}}" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
						{% endif %}
					  </ul>
					</nav>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

